.header-element {
    align-items: center;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    min-height: 100px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

        img {
            max-height: 80px;
            padding: 15px 0;
        }
    }
}